.title {
    font-size: 24px;
    color: azure;
}

.music p {
    color: azure;
    margin: 0px;
    padding: 5px;
}
::placeholder {
    color: red;
    opacity: 1;
    /* Firefox */
}

.logo {
    text-transform: uppercase;
    color: #ffffff !important;
    border-bottom: 1px solid
}

.nav-link {
    font-size: 16px;
    color: #ffffff !important;
}

.nav-sidebar .nav-item:hover {
    background-color: #9966CB;
}

.comment-border {
    border-bottom: 1px solid;
}

.card-title-link {
    text-decoration: none;
    color: #333;
}

.link {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    max-width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-overflow: clip; */
}

.icon-search {
    background: none;
    border: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #320c59;
    margin-bottom: 100px;
}

.img-thumbnail {
    border-radius: 100px !important;
    height: 50px !important;
    width: 50px !important;
    border: none !important;
    padding: 0px !important;
    background: none !important;
}
.img-thumbnail-avatar{
    min-width: 50px !important;
}

.sub-string {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-string-link {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.stt {
    font-size: 24px;
}

.card-img-top {
    height: 200px;
}

.card-body-st {
    height: 130px;
}

.link-heart {
    text-decoration: none;
    color: #ffffff;
}

.card{
    position: relative;
}

.play{
    position: absolute;
    top: 75px;
    right: 85px;
}

.play:hover{
    opacity: 0.7;
}
.icon-container{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.icon-container>p{
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
}
.dropdown-menu .dropdown-item {
    color: #ffffff;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #9966CB;
}

/* Sidebar Tag css */
.sidebar-tag-active{
    background-color: rgb(102, 51, 204);
}
#containerCmt{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 400px;
    /* max-width: 100%; */
}
#downloadBtn{
    pointer-events: none;
    cursor: default;
    
}

